<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <div id="logo-header">
        <img id="logo-image"
             role="presentation"
             src="/static/images/HuracanGT.png"
             th:src="@{images/HuracanGT.png}"
        />

        <img id="logo-name"
             role="presentation"
             src="/static/images/HuracanGT.png"
             th:src="@{images/Vroom.png}"
        />

    </div>
</div>

<div th:fragment="navigation">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">VROOM</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/edit">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

　
<div th:fragment="footer" >
    <div id="footer" >
        <div  class="fixed-bottom footer-area">
            <h3 id="footer-text">&copy; Copyright 2017 Cusey, LLC</h3>
            <div class="footer-strip" ></div>
        </div>
    </div>
</div>

　
</html>